<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edw.kpu.grabber.mapper.D1Mapper" >
  <resultMap id="BaseResultMap" type="com.edw.kpu.grabber.bean.D1" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="kode_kecamatan" property="kodeKecamatan" jdbcType="VARCHAR" />
    <result column="nama_kecamatan" property="namaKecamatan" jdbcType="VARCHAR" />
    <result column="suara_prabowo" property="suaraPrabowo" jdbcType="BIGINT" />
    <result column="suara_jokowi" property="suaraJokowi" jdbcType="BIGINT" />
    <result column="kode_kabupaten" property="kodeKabupaten" jdbcType="VARCHAR" />
    <result column="nama_kabupaten" property="namaKabupaten" jdbcType="VARCHAR" />
    <result column="kode_provinsi" property="kodeProvinsi" jdbcType="VARCHAR" />
    <result column="nama_provinsi" property="namaProvinsi" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insert" parameterType="com.edw.kpu.grabber.bean.D1" >
    insert into d1 (id, kode_kecamatan, nama_kecamatan, 
      suara_prabowo, suara_jokowi, kode_kabupaten, 
      nama_kabupaten, kode_provinsi, nama_provinsi
      )
    values (#{id,jdbcType=INTEGER}, #{kodeKecamatan,jdbcType=VARCHAR}, #{namaKecamatan,jdbcType=VARCHAR}, 
      #{suaraPrabowo,jdbcType=BIGINT}, #{suaraJokowi,jdbcType=BIGINT}, #{kodeKabupaten,jdbcType=VARCHAR}, 
      #{namaKabupaten,jdbcType=VARCHAR}, #{kodeProvinsi,jdbcType=VARCHAR}, #{namaProvinsi,jdbcType=VARCHAR}
      )
  </insert>
</mapper>